.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.weather__description {
  margin-bottom: 1rem;
}

.weather__icon {
  width: 8rem;
  height: 8rem;
  margin-bottom: 1rem;
}

.weather__temperature,
.weather__pressure,
.weather__humidity,
.weather__wind-speed,
.weather__wind-direction {
  margin-bottom: 0.5rem;
}
body{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,194,255,1) 100%);
}
